

<div class="-breadcrumb">
  <a href="/">Inicio</a>
  / Comunicados
</div>


<h1>Comunicados</h1>
<div class="-col-n p-1">

  <div class="-galeria">

    <div *ngFor="let blog of blogs " class="-tarjeta" >

      <div>
        <img [src]="blog._id | image: 'news'"  class=""  [alt]="blog.name">
      </div>
      <div>
        <p class="-titulo">{{ blog.name }}</p>
        <div [innerHTML]="blog.intro | truncate: 120" class="-intro" ></div>
      </div>

      <div class="">
        <a [routerLink]="['/blog', blog.slug]" class="-btn-ver-mas float-end"> ver mas</a>
      </div>

    </div>

  </div>

</div>




