
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container pb-0">


      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2022 Copyright:
              <a class="-link-footer" routerLink="/">arantzazepda.com</a>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              &nbsp;
            <!-- Facebook -->
            <a href="https://www.facebook.com/arantza.zepeda.golf/" class="btn btn-outline-light btn-floating m1 " class="text-white" role="button"><i class="pi pi-facebook h1 text-white"></i></a>
            &nbsp;
            <!-- Instagram -->
            <a href="https://www.instagram.com/arantzazepeda.golf/" class="btn btn-outline-light btn-floating m-1"  class="text-white h1"  role="button"><i class="pi pi-instagram h1 text-white"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->


  </footer>
  <div class="-aviso">
    <a class="-btn-ver-todos" routerLink="/aviso-de-privacidad">Aviso de privacidad</a>
  </div>
