<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer class="text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

            <!-- Content -->
            <ul class="-menu-footer">
              <li><a href="/molecular" class="-link-footer">Medicina molecular</a></li>
              <li><a href="/semblanza" class="-link-footer">Semblanza</a></li>
              <li><a href="/testimoniales" class="-link-footer">Testimoniales</a></li>


              <!-- <li><a href="/Comunicados" class="-link-footer">Comunicados</a></li> -->
              <!--  <li><a href="/ValterKuhne-presenta" class="-link-footer">Valter Kuhne Presenta</a></li> -->
            </ul>

          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">

          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">

          </div>

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

              <h6 class=" mb-4 font-weight-bold">Contactanos</h6>

              <i class="pi pi-at" ></i><a href="mailto:	contacto@valterkuhne.com" class="-link-footer"> contacto@valterkuhne.com</a>
              <br><i class="pi pi-phone"></i><a href="tel: + 573132486011" class="-link-footer"> + 57 313 248 6011</a>


          </div>
          <!-- Grid column -->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-3">

      <!-- Section: Copyright -->
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <!-- Copyright -->
            <div class="p-3">
              © 2022 Copyright:
              <a class="-link-footer" href="/">valterkuhne.com</a>
            </div>
            <!-- Copyright -->
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
            <a href="https://api.whatsapp.com/send?phone=573132486011" class="btn btn-outline-light btn-floating m1 " class="text-white" role="button" target="_blank"><i class="pi pi-whatsapp h1 text-white"></i></a>
             &nbsp;
            <!-- Facebook -->
            <a href="https://www.facebook.com/drvalterkuhne/" class="btn btn-outline-light btn-floating m1 " class="text-white" role="button"><i class="pi pi-facebook h1 text-white"></i></a>
            &nbsp;
            <!-- Instagram -->
            <a href="https://instagram.com/drvalterkuhne?igshid=YmMyMTA2M2Y=" class="btn btn-outline-light btn-floating m-1"  class="text-white h1"  role="button"><i class="pi pi-instagram h1 text-white"></i></a>
          </div>
          <!-- Grid column -->
        </div>
      </section>
      <!-- Section: Copyright -->
    </div>
    <!-- Grid container -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
