


<div class="-breadcrumb">
   Inicio
</div>

<!--
<div class="list-group -err">
  <button type="button"  @fade class="list-group-item -err">el item</button>
  <button type="button"  @fade class="list-group-item -err">el item dos</button>
</div>

<div class="list-group -err">
  <button type="button"  @fade class="list-group-item -err">el item tres</button>
  <button type="button"  @fade class="list-group-item -err">el item cuatro</button>
</div>
-->
<div class="container">
  <div class="row border rounded p-2">



    <div class="col-sm col-md">
      <h2>Que es?</h2>
      <p>La medicina molecular tiene la capacidad de armonizar la comunicación celular, otorgando así la máxima respuesta de recuperación en los desequilibrios orgánicos y sistémicos que sufrimos los seres humanos durante una enfermedad</p>
    </div>



    <div class="col-sm col-md">
      <a href="/molecular">
        <img class="img-fluid"  alt="The newscience of health" src="assets/images/medicina-molecular.jpeg">
      </a>
    </div>

    <div class="col-sm col-md">
      <h2>Conoce</h2>
      <ul class="-beneficios">
        <li><p>Beneficios</p></li>
        <li><p>Método</p></li>
        <li><p>Como funciona</p></li>
        <li><p>Servicios</p></li>
        <li><p>Historia</p></li>
      </ul>
      <a href="/molecular" class="-btn">Conoce más</a>
    </div>

  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <a href="/semblanza">
      <img class="img-fluid" alt="Responsive image" src="assets/images/semblanza.jpg">
    </a>
  </div>
</div>
<br>

<div class="container">
  <div class="row border rounded p-2">

    <h1>Testimoniales</h1>
    <div class="col-6">
      <img class="img-fluid" src="assets/images/testimoniales.jpg">
    </div>

    <div class="col-6">
      <p>Conoce los testimoniales de los pacientes que han superado enfermedades  con  la Medicina Quántica</p>
      <a href="/testimoniales" class="-btn">Conoce más</a>
    </div>




