

<div class='external -containe'>
  <div class='internal'>
    <div class="-hero-header-copy">
      <h1 class="-hero-header-title">Hoy voy a ganar</h1>
    </div>
  </div>
</div>


<div class="-breadcrumb">
   Inicio
</div>

<div class="-col-2 p-3">

  <div>
    <img  class="img-fluid p-2" width="100%"src="assets/images/arantza-zepeda.jpeg">
  </div>

  <div class="-soy">
    <div class=" p-1">
      <p>Soy Arantza Zepeda, tengo 15 años de edad, actualmente estudio la secundaria en cumbres International School y me considero una persona muy sociable, me gusta superarme día a día, me gusta ayudar a las personas y en general mis valores están centrados en la honestidad, en ser una persona confiable, un ejemplo para futuras generaciones y ayudar al crecimiento de mi país, de mi colegio y ayudar a la sociedad y a las personas más necesitadas.
      <p>En lo deportivo, tengo más de 9 años practicando Golf a nivel amateur de alto rendimiento, inicie a los 3 años de manera casual solo como para aprender y divertirme un poco con mi familia, pero a los 6 años me di cuenta que era un deporte que me gustaba y ahí inicio mi carrera en el Golf, la cual continuo hasta la fecha.
    </div>
  </div>
</div>

<app-news4></app-news4>






