


<div class="-breadcrumb">
   Inicio
</div>

<div class="-hero">
  <img class="img-fluid"  alt="50% de descuento" src="assets/images/diagnostico-descuento.jpeg">
</div>


<div class="-container border rounded p-2">
  <div class="-col-3">

    <div class="">
      <h2>Que es?</h2>
      <p>La medicina molecular tiene la capacidad de armonizar la comunicación celular, otorgando así la máxima respuesta de recuperación en los desequilibrios orgánicos y sistémicos que sufrimos los seres humanos durante una enfermedad</p>
    </div>


    <div class="">
      <a href="/molecular">
        <img class="img-fluid"  alt="The newscience of health" src="assets/images/medicina-molecular.jpeg">
      </a>
    </div>

    <div class="">
      <h2>Conoce</h2>
      <ul class="-beneficios">
        <li><p>Beneficios</p></li>
        <li><p>Método</p></li>
        <li><p>Como funciona</p></li>
        <li><p>Servicios</p></li>
        <li><p>Historia</p></li>
      </ul>
      <a href="/molecular" class="-btn">Conoce más</a>
    </div>

  </div>
</div>

<app-news4></app-news4>

<div class="-hero">
    <a href="/semblanza">
      <img class="img-fluid" alt="semblanza Valter Kuhne" src="assets/images/semblanza.jpg">
    </a>
</div>

<div class="-hero border rounded p-2">

    <h1>Testimoniales</h1>

    <div class="-col-2">
      <div>
        <img class="img-fluid" src="assets/images/testimoniales.jpg">
      </div>

      <div>
        <p>Conoce los testimoniales de los pacientes que han superado enfermedades  con  la Medicina Quántica</p>
        <a href="/testimoniales" class="-btn">Conoce más</a>
      </div>
    </div>

</div>



